---
---
@use "sass:list";
@use "sass:map";

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"),
       url("./fonts/Source Sans Pro.woff2") format("woff2"),
       url("./fonts/SourceSansPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       url("./fonts/PT Sans.woff2") format("woff2"),
       url("./fonts/PTSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Permanent Marker";
  src: local("Permanent Marker"),
  url("./fonts/Permanent Marker.woff2") format("woff2"),
  url("./fonts/PermanentMarker-Regular.ttf") format("truetype");
}

/* ========= */
/* structure */
/* ========= */

html{
  height: 100%;
}
body{
  position: relative;
  min-height: 100%;
  margin: 0;
}
#wrapper{
  width: 960px;
  margin: 0 auto;
}
main{
  width: 890px;
  margin: 0 auto;
  padding: 36px;
}

section{
  margin-bottom: 8px;
  text-align: center;
}

#player{
  width: 890px;
  height: 572px;
}

h1, h4, p{
  margin: 12px 0;
}
h3{
  margin-top: 36px;
}

body{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-align: justify;
  background-image: url("./img/funky-lines.png"); /* Subtle Patterns */
}

header{
  text-align: center;
}

main{
  border-radius: 24px;
  box-shadow: 0 0 8px rgba(0,0,0,0.9);
}

footer{
  text-align: right;
}

select{
  min-width: 10em;
  margin: 0 0.5em;
  font-family: "Source Sans Pro";
  font-size: 18px;
}
option{
  font-family: "Source Sans Pro", "PT Sans", "Fira Sans", "Segoe UI", sans-serif;
}

#player{
  background-color: #3f3f3f;
}

/* ======== */
/* controls */
/* ======== */

#controls {

  #slider-container {
    position: relative;
    width: 95%;
    margin: 0 auto;
  }

  #tick-container {
    position: absolute;
    top: 2px;
    width: 100%;
    height: 16px;

    .tick {
      display: inline-block;
      position: absolute;
      top: 0px;
      height: 16px;
      background: #80808080;
      border-radius: 16px;

      &-red {
        @extend .tick;
        background-color: #ff000080;
      }
      &-green {
        @extend .tick;
        background-color: #00ff0080;
      }
      &-blue {
        @extend .tick;
        background-color: #0000ff80;
      }
      &-small {
        transform: scale(0.75);
      }
    }

  }

  input#frame-slider {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 16px;
    margin: 0;
    background: transparent;
    -webkit-appearance: none;
    outline: none;

    @mixin thumb {
      width: 16px;
      height: 16px;
      border-radius: 16px;
      border-width: 0;
      background: #404040;
    }
    @mixin track {
      height: 1px;
      background: #d6d6d6;
      border: 1.5px solid #d6d6d6;
    }

    &::-moz-range-thumb {
      @include thumb;
    }
    &::-moz-range-track {
      @include track;
    }
    &::-webkit-slider-thumb {
      @include thumb;
      -webkit-appearance: none;
      margin-top: -8px;
    }
    &::-webkit-slider-runnable-track {
      @include track;
    }
    &::-ms-thumb {
      @include thumb;
      margin-top: 0px;
    }
    &::-ms-track {
      height: 1px;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
    &::-ms-fill-lower, &::-ms-fill-upper {
      background: #d6d6d6;
      border: 1.5px solid #d6d6d6;
    }
  }

  button {
    display: inline-block;
    border: none;
    width: 32px;
    height: 32px;
    padding: 16px;
    margin: 8px;
    filter: invert(1) brightness(0.25);
    outline: none;

    &:active {
      transform: scale(0.95);
    }

    &#control-start{ background: url("./img/fast-backward.svg") no-repeat; }
    &#control-back{ background: url("./img/step-backward.svg") no-repeat; }
    &#control-play:not([playing]){ background: url("./img/play.svg") no-repeat; }
    &#control-play[playing]{ background: url("./img/pause.svg") no-repeat; }
    &#control-next{ background: url("./img/step-forward.svg") no-repeat; }
    &#control-end{ background: url("./img/fast-forward.svg") no-repeat; }
  }

  input#frame-counter{
    width: 3em;
    padding: 2px 4px;
    font-size: 16px;

    &:invalid {
      box-shadow: 0 0 1.5px 1px red;
    }
  }

}

h1.top{
  font-family: "Permanent Marker";
  font-size: 40px;
}
h1.top a{
  text-decoration: none;
  color: black;
}

h3{
  font-size: 24px;
  border-left: 6px solid #6cf;
  padding-left: 8px;
}

ul{
  margin: 8px 0;
}
ul ul{
  padding-left: 1.5rem;
}
li{
  list-style: url("./img/puff-icon-sm.png");
}
li li{
  list-style: square;
}

a{
  text-decoration: none;
  color: #29d;
}
a:visited{
  color: #29d;
}
.text-light{
  color: #888;
}

blockquote{
  background: #eee;
  color: #444;
  padding: 0.75em;
  margin: 1em;
}
blockquote p:first-child{ margin-top: 0; }
blockquote p:last-child{ margin-bottom: 0; }

span.separator{
  margin: 0 8px;
}
span.separator::before{
  content: "•";
  color: #888;
}

.github-icon{
  height: 24px;
  vertical-align: middle;
}

pre{
  padding: 1em;
}
code{
  font-family: "Consolas", "Anonymous Pro", "Helvetica Monospaced", monospace;
}
p > code {
  background: #e6e6e6;
  color: #111;
  padding: 1px 4px 2px 4px;
  border: none;
  border-radius: 3px;
}

hr {
  border: none;
  border-bottom: 1px solid #888;
}

/* ===== */
/* table */
/* ===== */

table {
  border-collapse: collapse;
  color: #222;

  #hitbox-details &{
    margin: 0 auto;
  }
}

thead tr {
  background-color: rgba(128,128,128,0.1);
}

td {
  border: 1px solid #aaa;
  color: #444;
  padding: .2em .4em;
  text-align: left;
}

th {
  border: 1px solid #aaa;
  color: #222;
  padding: .2em .4em;
}

.hitbox-id {
  display: flex;
  align-items: center;

  .hitbox-color-icon {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    margin-right: 0.4em;
    border: 1px solid rgba(0,0,0,0.5);
  }
}

$hitboxColors: (
  "normal": [ #ff0000, #c759ff, #ffc7c7, #c7b400, #ff7800, #00ffd6, #c700ff, #604986, #999999 ],
  "grab":   [ #999999, #ff0000, #c759ff, #ffc7c7, #c7b400, #ff7800, #00ffd6, #c700ff, #604986 ],
);

@for $i from 1 through 9 {
  // row colors
  tbody tr:nth-child(#{$i}){
    background: change-color(nth(map-get($hitboxColors, "normal"), $i), $alpha: 0.125);
  }
  tbody tr.type-grab:nth-child(#{$i}){
    background: change-color(nth(map-get($hitboxColors, "grab"), $i), $alpha: 0.125);
  }

  // id color markers
  tr:nth-of-type(#{$i}) .hitbox-color-icon{
    background: nth(map-get($hitboxColors, "normal"), $i);
  }
  tr.type-grab:nth-of-type(#{$i}) .hitbox-color-icon{
    background: nth(map-get($hitboxColors, "grab"), $i);
  }
}

span[data-tooltip] {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0; right: 0; bottom: 0;
    border-bottom: 1px dotted black;
  }
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  margin-bottom: 6px;
  padding: 4px 16px;
  border-radius: 4px;
  background: #000;
  color: #fff;
  text-align: center;
  white-space: pre;
  font-size: 14px;
  font-weight: normal;
}
[data-tooltip]:hover:before{
  display: block;
  z-index: 10;
}

/* ===== */
/* notes */
/* ===== */

#move-notes {
  div {
    display: inline-block;
    min-width: 50%;
    max-width: 95%;
    border: 1px solid #aaa;
    padding: 8px 12px;
    background: #80808020;
    text-align: justify;
    white-space: pre-line;
  }
}
