/* ========= */
/* structure */
/* ========= */

html{
  height: 100%;
}
body{
  position: relative;
  min-height: 100%;
  margin: 0;
}
#wrapper{
  width: 960px;
  margin: 0 auto;
}
main{
  width: 891px;
  margin: 0 auto;
  padding: 36px;
}

section{
  margin-bottom: 8px;
  text-align: center;
}

#player{
  width: 891px;
  height: 572px;
}

h1, h4, p{
  margin: 12px 0;
}
h3{
  margin-top: 36px;
}

/* ====== */
/* pretty */
/* ====== */

body{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-align: justify;
  background-image: url("./img/funky-lines.png"); /* Subtle Patterns */
}

header{
  text-align: center;
}

main{
  border-radius: 24px;
  box-shadow: 0 0 8px rgba(0,0,0,0.9);
}

footer{
  text-align: right;
}

#move-select select{
  font-family: "Source Sans Pro";
  font-size: 18px;
}
#move-select option{
  font-family: "Source Sans Pro", "PT Sans", "Fira Sans", "Segoe UI", sans-serif;
}

#player{
  background-color: #3f3f3f;
  /* #TODO rolling puff time slider */
	/* background-image: url("./img/puff-icon-sil.png");
	background-position: center;
	background-size: 10%;
	background-repeat: no-repeat; */
}

#controls button {
    display: inline-block;
    border: none;
    width: 32px;
    height: 32px;
    padding: 16px;
    margin: 8px;
    filter: invert(1) brightness(0.25);
}
#controls button:active {
  transform: scale(0.95);
}

#controls button#control-start{ background: url("./img/fast-backward.svg") no-repeat; }
#controls button#control-back{ background: url("./img/step-backward.svg") no-repeat; }
#controls button#control-play:not([playing]){ background: url("./img/play.svg") no-repeat; }
#controls button#control-play[playing]{ background: url("./img/pause.svg") no-repeat; }
#controls button#control-next{ background: url("./img/step-forward.svg") no-repeat; }
#controls button#control-end{ background: url("./img/fast-forward.svg") no-repeat; }

#controls input#frame-counter{
  width: 3em;
  padding: 2px 4px;
  font-size: 16px;
}

h1.top{
  font-family: "Permanent Marker";
  font-size: 40px;
}
h1.top a{
  text-decoration: none;
  color: black;
}

h3{
  font-size: 24px;
  border-left: 6px solid #6cf;
  padding-left: 8px;
}

h4{
  /* margin: 8px 0; */
}
h4:before {
  /* content: "# "; */
}

ul{
  margin: 8px 0;
}
ul ul{
  padding-left: 1.5rem;
}
li{
  list-style: url("./img/puff-icon-sm.png");
}
li li{
  list-style: square;
}

a{
  text-decoration: none;
  color: #29d;
}
a:visited{
  color: #29d;
}
.text-light{
  color: #888;
}

blockquote{
  background: #eee;
  color: #444;
  padding: 0.75em;
  margin: 1em;
}
blockquote p:first-child{ margin-top: 0; }
blockquote p:last-child{ margin-bottom: 0; }

span.separator{
  margin: 0 8px;
}
span.separator::before{
  content: "•";
  color: #888;
}

.github-icon{
  height: 24px;
  vertical-align: middle;
}

/* question */



figure{
  margin: 0;
}
pre{
  padding: 1em;
}
code{
  font-family: "Consolas", "Anonymous Pro", "Helvetica Monospaced", monospace;
}
p > code {
  background: #e6e6e6;
  color: #111;
  padding: 1px 4px 2px 4px;
  border: none;
  border-radius: 3px;
}

hr {
  border: none;
  border-bottom: 1px solid #888;
}

table {
  border-collapse: collapse;
  color: #222;
}

td {
  border: 1px solid #ccc;
  color: #444;
  padding: .25em .5em;
}

th {
  border: 1px solid #ccc;
  color: #222;
  padding: .25em .5em;
}
